[core]
	editor = vim.exe
	autocrlf = input
	trustExitCode = false
[alias]
	co = checkout
	ci = commit
	br = branch
	st = status
	unstage = reset HEAD --
	slog = log --pretty=oneline --abbrev-commit
[http]
	sslVerify = false
[user]
  name = dkinzer
	email = dtkinzer@gmail.com
